
@{
    ViewBag.Title = "A10 - Unvalidated Redirects and Forwards";
}

<h2>Enter the URL you would like to be redirected to.</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Comments</h4>
        <hr />
        <div class="form-group">
            @Html.Label("URL", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Redirect", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Redirect" class="btn btn-default" />
            </div>
        </div>
    </div>
}