@{
    ViewBag.Title = "Contact";
    ViewBag.AppName = "OWASP Top 10";
}
<h2>@ViewBag.Title</h2>
<h3>James Davis</h3>

<p>Feel free to contact me with any questions or comments about this code; or anything really. I am always looking to improve, so don't be shy to blast me on any inconsitencies or deviations from best practices.</p>

<address>
    <strong>Web:</strong>   <a href="http://www.debugthings.com/">www.debugthings.com</a><br />
    <strong>LinkedIn:</strong>   <a href="http://www.linkedin.com/in/debugthings">James Davis</a><br />
    <strong>Twitter:</strong> <a href="http://www.twitter.com/debugthings">@@debugthings</a><br />
    <strong>Email:</strong> <a href="mailto:james.l.davis@outlook.com">james.l.davis@outlook.com</a>
</address>