
@{
    ViewBag.Title = "FAQ";
}

<h1>FAQ</h1>
<p class="big-list">Q: Is this site completely secure.</p>
<p class="big-list">A: Nope. While I attempted to make the secure site as secure as possible there may be some carry over from the vulnerable site that will affect the secure site.</p>
<br />
<p class="big-list">Q: Can I use the code?</p>
<p class="big-list">A: Absolutely. The code is hosted on GitHub and I will certainly look at any pull requests that come my way.</p>
<br />
<p class="big-list">Q: Can you answer my questions?</p>
<p class="big-list">A: Hopefully. Depending on the scope of the question, availability, etc. I will try and help. The best way to get ahold of me is twitter. <a href="http://www.twitter.com/debugthings">@@debugthings</a></p>
