@{

    ViewBag.Title = "Home Page";
    ViewBag.AppName = "OWASP Top 10";
}


<div class="jumbotron">
    <h1>OWASP Demo Site</h1>
    <h2>OWASP Top 10</h2>
    <p class="lead">Welcome to the home page of the OWASP Top 10 demo site. This site was built in conjunction with a presentation. Not all areas are commented and may lead to confusion. This website code will be hosted on GitHub at the following repository, <a href="https://github.com/jldgit/OWASPTop10Tampa">OWASPTop10Tampa</a>.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Get Slides &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>OWASP Top 10</h2>
        <p>
            Find out more about these vulnerabilities in detail from the OWASP organization. The descriptions of the vulnerabilities will be in much greater detail and will apply to a broader range of technologies.
        </p>
        <p><a class="btn btn-default" href="https://www.owasp.org/index.php/Top_10_2013">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>Check out the MSDN resources for MVC. A lot of the topics covered int he slides </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More Resources</h2>
        <p>I have compiled a list of links, blogs and other information that will help explain some topics further. Use this link to learn more about Filters, Controllers, Actions, and other MVC specific topics.</p>
        @{/* Notice here how I used the ASCII character instead of the escaped version. MvcHtmlString will ensure things are displayed properly */}
        <p>@Html.ActionLink("Learn more »", "About", "Home", routeValues: new { controller = "Home" }, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>